@{
    ViewBag.Title = "BizMsgMonitor";
}

  <script type="text/javascript">
  $(function () {
      // Proxy created on the fly
      var bizMsgConn = $.connection.chat;
      
      // Only from server
      bizMsgConn.addMessageEx = function (bizMsgEx) {

          // ** parse to json object
          var bizMsgExObj = JSON.parse(bizMsgEx);

          // ** create the li element
          var $res = $("<li />").css("display", "none");
          $res.addClass("regularitem");

          // * add the date in the upper left corner
          $res.append(new Date(bizMsgExObj.Date).toUTCString()).css("font-size", "small");

          // * add the appropriate img, depending on the msg type in the top right corner
          var $img = $();
          if (bizMsgExObj.EntityStatus == "Success") {
              $img = $('<img id="success" src="/Content/success.png" />').addClass("pull-right");
          } else {
              $img = $('<img id="success" src="/Content/error.png" />').addClass("pull-right");
          }
          $res.prepend($img);

          // ** add the value in the middle
          var $value = $("<div />").addClass("pull-middle");
          $value.append("value: " + bizMsgExObj.EntityValue + " • type: " + bizMsgExObj.EntityType + " • action: " + bizMsgExObj.EntityAction);
          $res.append($value);

          // * add the error if present
          var $err = $("<div />").addClass("pull-down-right");
          $err.append(bizMsgExObj.EntityErrorMessage);
          $res.append($err);

          // * add the user in the bottom left corner
          var $user = $("<div />").addClass("pull-down");
          $user.append(bizMsgExObj.User);
          $res.append($user);

          // ** add the li element to the ul
          $res.appendTo($('#messagesEx')).slideDown();
         
          // ** slideUp & remove from DOM logic
          if ($("#messagesEx li").size() > 7) {
              $('#messagesEx li').first().next().slideUp();
              $('#messagesEx li').first().remove();
          }
      };

      $('#msgExFlow').show();

      // Start the connection
      $.connection.hub.start();
  });
  </script>

<div style="padding-top:-10px">
    <h1><small>Biz Stream</small></h1>
</div>

<table style="padding-top: 0px"><tr>
    <td style="vertical-align:top">
        @* Control Panel *@
        <div class="btn-group btn-group-vertical">
            <button class="btn" id="pause"><i class="icon-pause icon-black"></i></button>
            <button class="btn" id="step-backward"><i class="icon-step-backward icon-black"></i></button>
            <button class="btn" id="step-forward"><i class="icon-step-forward icon-black"></i></button>
            <button class="btn" id="play"><i class="icon-play icon-black"></i></button>
        </div>
    </td>
    <td>
        @* Business Stream *@
        <div id="page">
            <span id="msgExFlow">
                <ul id="messagesEx" class="ticker"></ul>
            </span>
        </div>
    </td>
</tr></table>

<style>
    .pull-middle {
        position: relative; left: 50px; padding-top: 8px; font-size: medium;
        color: #757575;
    }

    .pull-down {
        position: relative; left: 0px; padding-top: 7px;
    }

    .pull-down-right {
       position: relative; float: right; padding-top: 5px;
    }

    #page {
	    width: 900px;
	    margin: 0 auto;
	    margin-bottom: 50px;
    } 

    .ticker {
	    width: 850px;
    }

    .ticker li {
	    height: 70px;
	    border-bottom: 1px dotted #DDD;
	    padding: 5px;
	    margin: 0px 5px;
        font-size: larger;
        font-weight:lighter;
	    box-shadow: 0px 0px 5px #DDD;
    }

    #messagesEx {
	    height: 300px;
    }

    #messagesEx li {
	    height: 70px;
	    overflow: hidden;
    }

    .regularitem {
        list-style: none outside none;
        margin: 10px;
        padding: 10px;
        width: 850px;

        background-image: linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);
        background-image: -o-linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);
        background-image: -moz-linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);
        background-image: -webkit-linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);
        background-image: -ms-linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);

        /*
        background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          color-stop(0.17, rgb(245,37,172)),
          color-stop(0.59, rgb(152,71,222))
        );
        */

        /* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D4D4D4), to(#D4D4D4), color-stop(.6,#C2C2C2)); */
        /* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DEDEDE), to(#DEDEDE), color-stop(.5,#BFBFBF)); */
        /* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#EEEEEE), color-stop(.6,#CFCFCF)); */
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#EEEEEE), color-stop(.6,#D9D9D9));
        /* box-shadow: 0px 0px 20px #000000; */
        border-style: ridge;
        border-bottom-width: thin; 

        /* text-shadow: 0px 1px 2px #555; */
        /* text-shadow: 1px 1px 3px #666, -1px -1px 3px #FFF, 1px 1px #666, -1px -1px #FFF; */
        text-shadow: -1px -1px #667, 1px 1px #FFF;
        color: #D9D9D9;
        font-size: small;

        /*
        border-radius: 50px;
        box-shadow: 0px 0px 20px #000000;
        background-image: -webkit-linear-gradient(top, #ffffff, #000000);
        background-image: linear-gradient(top, #ffffff, #000000);
        background-clip: padding-box;
        opacity: 0.68;
        */

        -webkit-border-radius: 10px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
</style>

@*https://github.com/SignalR/SignalR/wiki/QuickStart-Hubs*@