<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <connectionStrings>
        <add name="NiCris.DataAccess.Properties.Settings.NiCris_DashboardConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NiCris.Dashboard;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      
        <add name="NiCris.DataAccess.Properties.Settings.NiCris_DashboardConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NiCris.Dashboard.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
</configuration>