@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>

  <script src="~/Scripts/jquery-1.8.0.min.js" type="text/javascript"></script>
  <script src="~/Scripts/jquery.signalR-0.5.3.min.js" type="text/javascript"></script>
  <script src="/signalr/hubs" type="text/javascript"></script>

  <script type="text/javascript">
  $(function () {
      // Proxy created on the fly
      var chat = $.connection.chat;
      
      // Declare a function on the chat hub so the server can invoke it
      chat.addMessage = function(message) {
          $('#messages').append('<li>' + message + '</li>');
      };
      
      $("#broadcast").click(function () {
          // Call the chat method on the server
          chat.send($('#msg').val());
      });
      
      // Only from server
      var counter = 0;
      chat.addMessageEx = function (message) {
          var $res = $("<li />");
          $res.append(message);
          $res.addClass("regularitem");
          $res.appendTo($('#messagesEx'));

          if (counter > 5) {
              $('#messagesEx li').eq(counter - 6).slideUp();
          }
          // $('#messagesEx li:first').slideUp(function () { $(this).appendTo($('#messagesEx')).slideDown(); });
          counter++;
      };
      $('#msgExFlow').show();

      // Start the connection
      $.connection.hub.start();
  });
  </script>
  
  <input type="text" id="msg" />
  <input type="button" id="broadcast" value="broadcast" />

   @* Chat *@ 
    <ul id="messages"></ul>
    <hr/>

  @* Business Stream *@
    <div id="page">
        <span id="msgExFlow">
            <h2>Live Business Stream</h2>
            <ul id="messagesEx" class="ticker"></ul>
        </span>
    </div>


<style>

    #page {
	    width: 900px;
	    margin: 0 auto;
	    margin-bottom: 50px;
    } 

    .ticker {
	    width: 850px;
    }

    .ticker li {
	    height: 40px;
	    border-bottom: 1px dotted #DDD;
	    padding: 5px;
	    margin: 0px 5px;
        font-size: larger;
        font-weight: bold;
	    box-shadow: 0px 0px 5px #DDD;
    }

    #messagesEx {
	    height: 300px;
    }

    #messagesEx li {
	    height: 40px;
	    overflow: hidden;
    }

    .regularitem {
        list-style: none outside none;
        margin: 10px;
        padding: 10px;
        width: 850px;

        background-image: linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);
        background-image: -o-linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);
        background-image: -moz-linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);
        background-image: -webkit-linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);
        background-image: -ms-linear-gradient(left top, rgb(245,37,172) 17%, rgb(152,71,222) 59%);

        background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          color-stop(0.17, rgb(245,37,172)),
          color-stop(0.59, rgb(152,71,222))
        );

        -webkit-border-radius: 10px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

</style>

@*https://github.com/SignalR/SignalR/wiki/QuickStart-Hubs*@