@{
    ViewBag.Title = "Chat";
}

<script type="text/javascript">
    $(function () {
        // Proxy created on the fly
        var chat = $.connection.chat;

        // Declare a function on the chat hub so the server can invoke it
        chat.addMessage = function (message) {
            $('#messages').append('<li>' + message + '</li>');
        };

        $("#broadcast").click(function () {
            // Call the chat method on the server
            chat.send($('#msg').val());
        });

        // Start the connection
        $.connection.hub.start();
    });
</script>

<div class="page-header">
  <h2>Chat Demo <small>using SignalR</small></h2>
</div>

<div class="input-append">
    <input type="text" id="msg" placeholder="some msg"/>
    @*<input type="button" id="broadcast" value="Broadcast" class="btn btn-inverse"/>*@
    <a class="btn btn-primary" href="#" id="broadcast"><i class="icon-comment icon-white"></i>Broadcast</a>
</div>

<ul id="messages"></ul>


